:root {
    --White: #e3e3e3;
    --Black: #292f36;
    --Blue: #40acf1;
    --transparentBlue: rgba(106, 188, 238, 0.7);
    --Gray: rgb(216, 214, 214);
    --GrayFix: rgba(145, 143, 143, 0.878);
    --Yellow: #e3b505;
    --mainWhite: #ffffff;
    --mainSmokeWhite: whitesmoke;
    --transparentYellow: rgba(227, 181, 5, 0.8);
    --dark-subtle: #202327;
}

html[data-bs-theme="dark"] {
    --White: #292f36;
    --Black: #ffffff;
    --Blue: #124463;
    --transparentBlue: rgba(38, 111, 156, 0.7);
    --Gray: #292f36;
    --GrayFix: #edebebb4;
    --Yellow: #e3b705b0;
    --mainWhite: #ffffffb3;
    --mainSmokeWhite: #23252f;
    --transparentYellow: rgba(187, 151, 4, 0.8);
    --dark-subtle: #343b42;
}
